In [1]:
import pandas as pd 
import numpy as np 
import pickle 

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler , LabelEncoder, OneHotEncoder

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [6]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [8]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [9]:
data.tail()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [10]:
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [11]:
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)

In [12]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [13]:
data.shape

(10000, 13)

In [14]:
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [15]:
X_train , X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [16]:
X_train.shape , X_test.shape, y_train.shape, y_test.shape

((8000, 12), (2000, 12), (8000,), (2000,))

In [17]:
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [18]:
with open('label_encoder_gender1.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo1.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)
    
with open('scaler1.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## TRAIN THE ANN Regression Problem Statement

In [20]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [22]:
## Build Our ANN Model 
model_ann_reg = Sequential([
    Dense(32, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(16, activation='relu'),
    Dense(1)
])

In [23]:
model_ann_reg.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 32)                416

 dense_4 (Dense)             (None, 16)                528

 dense_5 (Dense)             (None, 1)                 17

=================================================================
Total params: 961 (3.75 KB)
Trainable params: 961 (3.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [24]:
model_ann_reg.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

WARNING:tensorflow:From e:\DL Project 1\venv\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [25]:
log_dir = "regression_logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callbacks = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [26]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [28]:
history = model_ann_reg.fit(
    X_train, y_train, validation_data=(X_test, y_test), epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callbacks]
)

Epoch 1/100
250/250 [==============================] - 2s 6ms/step - loss: 49711.5234 - mae: 49711.5234 - val_loss: 50439.0781 - val_mae: 50439.0781
Epoch 2/100
250/250 [==============================] - 2s 6ms/step - loss: 49701.6914 - mae: 49701.6914 - val_loss: 50436.7930 - val_mae: 50436.7930
Epoch 3/100
250/250 [==============================] - 2s 7ms/step - loss: 49691.7695 - mae: 49691.7695 - val_loss: 50431.6680 - val_mae: 50431.6680
Epoch 4/100
250/250 [==============================] - 3s 13ms/step - loss: 49685.3359 - mae: 49685.3359 - val_loss: 50431.2930 - val_mae: 50431.2930
Epoch 5/100
250/250 [==============================] - 14s 57ms/step - loss: 49674.1445 - mae: 49674.1445 - val_loss: 50424.7031 - val_mae: 50424.7031
Epoch 6/100
250/250 [==============================] - 18s 71ms/step - loss: 49663.8516 - mae: 49663.8516 - val_loss: 50429.3125 - val_mae: 50429.3125
Epoch 7/100
250/250 [==============================] - 8s 31ms/step - loss: 49656.7227 - mae: 49656.7227 - val_loss: 50424.0625 - val_mae: 50424.0625
Epoch 8/100
250/250 [==============================] - 1s 6ms/step - loss: 49649.1289 - mae: 49649.1289 - val_loss: 50409.9883 - val_mae: 50409.9883
Epoch 9/100
250/250 [==============================] - 2s 9ms/step - loss: 49641.7227 - mae: 49641.7227 - val_loss: 50408.7578 - val_mae: 50408.7578
Epoch 10/100
250/250 [==============================] - 2s 8ms/step - loss: 49635.6055 - mae: 49635.6055 - val_loss: 50407.2148 - val_mae: 50407.2148
Epoch 11/100
250/250 [==============================] - 2s 7ms/step - loss: 49628.0117 - mae: 49628.0117 - val_loss: 50408.4062 - val_mae: 50408.4062
Epoch 12/100
250/250 [==============================] - 1s 6ms/step - loss: 49620.5703 - mae: 49620.5703 - val_loss: 50402.8164 - val_mae: 50402.8164
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 49614.5508 - mae: 49614.5508 - val_loss: 50392.6914 - val_mae: 50392.6914
Epoch 14/100
250/250 [==============================] - 1s 6ms/step - loss: 49606.7422 - mae: 49606.7422 - val_loss: 50390.4453 - val_mae: 50390.4453
Epoch 15/100
250/250 [==============================] - 2s 8ms/step - loss: 49598.5781 - mae: 49598.5781 - val_loss: 50387.2539 - val_mae: 50387.2539
Epoch 16/100
250/250 [==============================] - 2s 9ms/step - loss: 49593.1914 - mae: 49593.1914 - val_loss: 50388.9102 - val_mae: 50388.9102
Epoch 17/100
250/250 [==============================] - 2s 8ms/step - loss: 49586.0117 - mae: 49586.0117 - val_loss: 50389.0547 - val_mae: 50389.0547
Epoch 18/100
250/250 [==============================] - 2s 7ms/step - loss: 49581.6406 - mae: 49581.6406 - val_loss: 50384.2148 - val_mae: 50384.2148
Epoch 19/100
250/250 [==============================] - 2s 7ms/step - loss: 49576.4961 - mae: 49576.4961 - val_loss: 50384.3828 - val_mae: 50384.3828
Epoch 20/100
250/250 [==============================] - 1s 6ms/step - loss: 49570.9102 - mae: 49570.9102 - val_loss: 50384.2617 - val_mae: 50384.2617
Epoch 21/100
250/250 [==============================] - 2s 7ms/step - loss: 49564.6211 - mae: 49564.6211 - val_loss: 50384.4062 - val_mae: 50384.4062
Epoch 22/100
250/250 [==============================] - 1s 5ms/step - loss: 49559.1992 - mae: 49559.1992 - val_loss: 50382.0664 - val_mae: 50382.0664
Epoch 23/100
250/250 [==============================] - 2s 7ms/step - loss: 49553.0312 - mae: 49553.0312 - val_loss: 50377.6094 - val_mae: 50377.6094
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 49548.1484 - mae: 49548.1484 - val_loss: 50382.6602 - val_mae: 50382.6602
Epoch 25/100
250/250 [==============================] - 1s 6ms/step - loss: 49543.3242 - mae: 49543.3242 - val_loss: 50380.7578 - val_mae: 50380.7578
Epoch 26/100
250/250 [==============================] - 1s 6ms/step - loss: 49537.5586 - mae: 49537.5586 - val_loss: 50375.6914 - val_mae: 50375.6914
Epoch 27/100
250/250 [==============================] - 1s 6ms/step - loss: 49532.6562 - mae: 49532.6562 - val_loss: 50375.9883 - val_mae: 50375.9883
Epoch 28/100
250/250 [==============================] - 1s 6ms/step - loss: 49526.5039 - mae: 49526.5039 - val_loss: 50368.4062 - val_mae: 50368.4062
Epoch 29/100
250/250 [==============================] - 1s 6ms/step - loss: 49522.2695 - mae: 49522.2695 - val_loss: 50373.2305 - val_mae: 50373.2305
Epoch 30/100
250/250 [==============================] - 1s 5ms/step - loss: 49518.3477 - mae: 49518.3477 - val_loss: 50367.0703 - val_mae: 50367.0703
Epoch 31/100
250/250 [==============================] - 1s 5ms/step - loss: 49514.6094 - mae: 49514.6094 - val_loss: 50371.1094 - val_mae: 50371.1094
Epoch 32/100
250/250 [==============================] - 1s 5ms/step - loss: 49510.0938 - mae: 49510.0938 - val_loss: 50369.5352 - val_mae: 50369.5352
Epoch 33/100
250/250 [==============================] - 1s 5ms/step - loss: 49505.2305 - mae: 49505.2305 - val_loss: 50368.8125 - val_mae: 50368.8125
Epoch 34/100
250/250 [==============================] - 1s 6ms/step - loss: 49501.9062 - mae: 49501.9062 - val_loss: 50372.3867 - val_mae: 50372.3867
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 49496.2070 - mae: 49496.2070 - val_loss: 50367.5078 - val_mae: 50367.5078
Epoch 36/100
250/250 [==============================] - 1s 6ms/step - loss: 49492.1875 - mae: 49492.1875 - val_loss: 50368.4258 - val_mae: 50368.4258
Epoch 37/100
250/250 [==============================] - 2s 6ms/step - loss: 49486.7461 - mae: 49486.7461 - val_loss: 50364.6758 - val_mae: 50364.6758
Epoch 38/100
250/250 [==============================] - 2s 7ms/step - loss: 49482.6484 - mae: 49482.6484 - val_loss: 50363.0391 - val_mae: 50363.0391
Epoch 39/100
250/250 [==============================] - 2s 6ms/step - loss: 49479.1328 - mae: 49479.1328 - val_loss: 50367.2031 - val_mae: 50367.2031
Epoch 40/100
250/250 [==============================] - 2s 10ms/step - loss: 49474.2695 - mae: 49474.2695 - val_loss: 50368.6406 - val_mae: 50368.6406
Epoch 41/100
250/250 [==============================] - 1s 6ms/step - loss: 49469.5391 - mae: 49469.5391 - val_loss: 50370.0781 - val_mae: 50370.0781
Epoch 42/100
250/250 [==============================] - 1s 6ms/step - loss: 49467.7227 - mae: 49467.7227 - val_loss: 50367.5703 - val_mae: 50367.5703
Epoch 43/100
250/250 [==============================] - 1s 5ms/step - loss: 49462.4922 - mae: 49462.4922 - val_loss: 50365.6992 - val_mae: 50365.6992
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 49460.2578 - mae: 49460.2578 - val_loss: 50365.3438 - val_mae: 50365.3438
Epoch 45/100
250/250 [==============================] - 1s 5ms/step - loss: 49455.2188 - mae: 49455.2188 - val_loss: 50364.8984 - val_mae: 50364.8984
Epoch 46/100
250/250 [==============================] - 1s 6ms/step - loss: 49451.0469 - mae: 49451.0469 - val_loss: 50362.0703 - val_mae: 50362.0703
Epoch 47/100
250/250 [==============================] - 1s 5ms/step - loss: 49447.7344 - mae: 49447.7344 - val_loss: 50355.3281 - val_mae: 50355.3281
Epoch 48/100
250/250 [==============================] - 1s 5ms/step - loss: 49443.9375 - mae: 49443.9375 - val_loss: 50361.7383 - val_mae: 50361.7383
Epoch 49/100
250/250 [==============================] - 1s 5ms/step - loss: 49440.4766 - mae: 49440.4766 - val_loss: 50361.1484 - val_mae: 50361.1484
Epoch 50/100
250/250 [==============================] - 1s 5ms/step - loss: 49437.2812 - mae: 49437.2812 - val_loss: 50362.1289 - val_mae: 50362.1289
Epoch 51/100
250/250 [==============================] - 1s 5ms/step - loss: 49432.0430 - mae: 49432.0430 - val_loss: 50370.5859 - val_mae: 50370.5859
Epoch 52/100
250/250 [==============================] - 1s 5ms/step - loss: 49430.7773 - mae: 49430.7773 - val_loss: 50369.1797 - val_mae: 50369.1797
Epoch 53/100
250/250 [==============================] - 1s 5ms/step - loss: 49426.0586 - mae: 49426.0586 - val_loss: 50365.5273 - val_mae: 50365.5273
Epoch 54/100
250/250 [==============================] - 1s 5ms/step - loss: 49423.0469 - mae: 49423.0469 - val_loss: 50365.1328 - val_mae: 50365.1328
Epoch 55/100
250/250 [==============================] - 1s 6ms/step - loss: 49419.0195 - mae: 49419.0195 - val_loss: 50368.8477 - val_mae: 50368.8477
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 49417.8398 - mae: 49417.8398 - val_loss: 50363.7539 - val_mae: 50363.7539
Epoch 57/100
250/250 [==============================] - 1s 5ms/step - loss: 49412.9688 - mae: 49412.9688 - val_loss: 50366.2344 - val_mae: 50366.2344

In [29]:
%load_ext tensorboard

In [36]:
%tensorboard --logdir regression_logs/fit

Reusing TensorBoard on port 6006 (pid 5932), started 0:00:08 ago. (Use '!kill 5932' to kill it.)

In [37]:
test_loss, test_mae = model_ann_reg.evaluate(X_test, y_test)

63/63 [==============================] - 1s 6ms/step - loss: 50355.3281 - mae: 50355.3281

In [39]:
print(f"Test MAE : {test_mae}")

Test MAE : 50355.328125

In [40]:
print(f"Test Loss : {test_loss}")

Test Loss : 50355.328125

In [41]:
model_ann_reg.save("model_reg.h5")

e:\DL Project 1\venv\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(